/*********
 * public/css/common.css 에서 필요한 코드를 추출하여 적용
 *********/
.dev-content button {
    border:none;
    cursor:pointer;
    background:none;
    outline: none;
    color: #222;
}
.dev-content input {
    outline:none;
}
.dev-content li {
    list-style:none;
    color: #222;
}
.dev-content a {
    display: inline-block;
    color:#222;
    text-decoration:none;
}
.dev-content em {
    font-style:normal;
    color: #222;
}
.dev-content i {
    color:#525252;
    font-size: 18px;
    line-height: 18px;
}
.dev-content .btn {
    display:inline-block;
    box-sizing: border-box;
    color: #fff;
    background: #d90542;
}
.dev-content .btn:hover {
    background-color: #e51a54;
}

.dev-content .btn.type-white{
    color:#222;
    background: #fdfdfd;
    border: solid 1px #d7d7d7;
}
.dev-content .btn.type-white:hover{
    color:#fff;
    border: solid 1px #e51a54;
    background: #e51a54;
}
.dev-content .btn.type-white:hover i{
    color:#fff;
}

.dev-content .btn[disabled],
.dev-content .btn[disabled]:hover {
    color:#ebebeb;
    border:1px solid #bbb;
    cursor: not-allowed;
    background:#b9b9b9;
}
.dev-content .btn.type-white[disabled],
.dev-content .btn.type-white[disabled]:hover {
    color:#ccc;
    border:1px solid #ededed;
    cursor: not-allowed;
    background:#fdfdfd;
}
.dev-content .btn[disabled] i,
.dev-content .btn[disabled]:hover i{
    color:#ccc;
}

.dev-content .btn-small{
    min-width: 114px;
    min-height: 32px;
    padding: 0 25px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -o-border-radius:16px;
    border-radius: 16px;
}
.dev-content .btn-small span {
    display: inline-block;
    padding-top: 4px;
    font-size: 18px;
    line-height: 24px;
    font-family: "LGSmHaSB";
}

.dev-content .btn-medium{
    padding: 16px 50px;
    font-size: 20px;
    line-height: 22px;
    font-family: "LGSmHaR";
}
.dev-content .btn-medium .fa-plus{
    margin-right:5px;
    font-size: 18px;
}

.dev-content .btn-large{
    min-height: 56px;
    padding: 0 26px;
    font-size: 24px;
    line-height: 26px;
    font-family: "LGSmHaB";
}
.dev-content .btn-large span {
    position: relative;
    display: inline-block;
}

.dev-content .btn-group .btn{
    margin:0 10px;
}

.dev-content .btn-thumb {
    width:38px;
    height:35px;
    opacity: .5;
    font-size:24px;
}
.dev-content .btn-thumb.on{
    opacity: 1 !important;
}
.dev-content .btn-thumb.on .fa-thumbs-up,
.dev-content .btn-thumb.on .fa-thumbs-down{
    color:#e51a54;
}
.dev-content .btn-thumb:hover{
    opacity: .7;
}
.dev-content .btn-thumb .icon{
    font-size:24px;
    line-height:24px;
}
.dev-content .btn-thumb.down{
    margin-top:3px;
}
.dev-content .btn-thumb.down .icon{
    transform: scaleX(-1);
}
.dev-content .btn-thumb.up.on .icon {
    background:url("../images/icon/btn_thumb_icon_up_on.png") no-repeat 0 0;
}
.dev-content .btn-thumb.down.on .icon{
    background:url("../images/icon/btn_thumb_icon_down_on.png") no-repeat 0 0;
}
.dev-content .btn-thumb .bubble{
    position:absolute;
    display:inline-block;
    opacity: 0;
    top:-30px;
    right:0;
    background: #686868;
    color: #fff;
    font-size:12px;
    line-height:14px;
    padding: 6px 10px;
    border-radius: 3px;
}
.dev-content .btn-thumb.up .bubble{
    right:27px;
}
.dev-content .btn-thumb.hover .bubble{
    opacity: 1;
    animation-name: bubbleFadeIn;
    animation-duration: .1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes bubbleFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.dev-content .btn-thumb .count{
    position: absolute;
    bottom: -20px;
    width: 38px;
    font-size:14px;
    line-height:16px;
}
.dev-content .btn-thumb.up .count{
    right: 42px;
}
.dev-content .btn-thumb.down .count{
    right: -2px;
}

.dev-content .btn-icon{
    position:relative;
    width:50px;
    height:50px;
    font-size:0;
    text-align: center;
    vertical-align: top;
}
.dev-content .btn-icon span{
    font-size:0;
}
.dev-content .btn-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.dev-content .btn-icon:hover:after{
    content:"";
    display:inline-block;
    width: 50px;
    height: 50px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background:rgb(221 221 221 / 50%);
    z-index: 0;
    animation-name: iconBgIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.dev-content .btn-icon[disabled]{
    cursor: not-allowed;
}
.dev-content .btn-icon[disabled] i{
    color:#d9d9d9;
}
.dev-content .btn-icon[disabled]:hover:after{
    display:none;
}
@keyframes iconBgIn {
    0% {
        width: 0;
        height: 0;
    }
    80% {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    100% {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

.dev-content .point-c1 {
    color:#d90511;
}

.dev-content .al-c {
    text-align: center !important;
}
.dev-content .al-l {
    text-align: left !important;
}
.dev-content .al-r {
    text-align: right !important;
}

.dev-content strong, .dev-content .fw-b{
    font-family: "LGSmHaB" !important;
}
.dev-content .fw-sb{
    font-family: "LGSmHaSB" !important;
}
.dev-content .fw-r{
    font-family: "LGSmHaR" !important;
}
.dev-content .fw-l{
    font-family: "LGSmHaL" !important;
}

/* LG Smart */
@font-face {
    font-family: "LGSmHaB";
    src: url("/font/LGSmHaB.ttf") format("truetype");
}
@font-face {
    font-family: "LGSmHaSB";
    src: url("/font/LGSmHaSB.ttf") format("truetype");
}
@font-face {
    font-family: "LGSmHaR";
    src: url("/font/LGSmHaR.ttf") format("truetype");
}
@font-face {
    font-family: "LGSmHaL";
    src: url("/font/LGSmHaL.ttf") format("truetype");
}

/* Fira Code */
@font-face {
    font-family: "FiraCodeB";
    src: url("/font/FiraCode-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCodeSB";
    src: url("/font/FiraCode-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCodeM";
    src: url("/font/FiraCode-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCodeR";
    src: url("/font/FiraCode-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCodeL";
    src: url("/font/FiraCode-Light.ttf") format("truetype");
}

/* radio checkbox common */
.dev-content .input-chk,
.dev-content .input-radio {
    display:inline-block;
    position:relative;
}
.dev-content input[type='radio'],
.dev-content input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 3px;
    filter: alpha(opacity=0);
    margin: 0;
    z-index: 10;
}

.dev-content input[type='checkbox']+label,
.dev-content input[type='radio']+label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 0;
    color: #222;
    letter-spacing: -1px;
    font-size: 15px;
    line-height: 19px;
    font-family: "LGSmHaSB";
}

/*** Radio ***/
/* radio+label */
.dev-content input[type='radio'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dev-content input[type='radio']+label {
    min-height: 20px;
    margin: 5px 0 0;
    padding: 5px 0 8px 30px;
    background-image: url(../images/form/ico-radio-default.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-size: 20px;
}

/* radio checked+label */
.dev-content input[type='radio']:checked+label {
    background-image: url(../images/form/ico-radio-chk.png);
}

/* radio disabled+label */
.dev-content input[type='radio']:disabled,
.dev-content input[type='radio']:disabled+label{
    cursor:not-allowed;
}
.dev-content input[type='radio']:disabled+label {
    color: #d7d7d7;
    background-image: url(../images/form/ico-radio-default-dis.png);
}

/* radio disabled:checked+label */
.dev-content input[type='radio']:disabled:checked+label {
    color: #d7d7d7;
    background-image: url(../images/form/ico-radio-chk-dis.png);
}

/*** Checkbox ***/
/* checkbox+label */
.dev-content input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.dev-content input[type='checkbox']+label {
    min-height: 20px;
    margin: 5px 0 0;
    padding: 5px 0 8px 23px;
    font-size: 13px;
    line-height: 20px;
    color: #565a5d;
    background-image: url(../images/form/ico-checkbox-default.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-size: 20px;
}

/* checkbox checked+label */
.dev-content input[type='checkbox']:checked+label {
    background-image: url(../images/form/ico-checkbox-chk.png);
}

/* checkbox disabled+label */
.dev-content input[type='checkbox']:disabled,
.dev-content input[type='checkbox']:disabled+label{
    cursor:not-allowed;
}
.dev-content input[type='checkbox']:disabled+label {
    background-image: url(../images/form/ico-checkbox-default-dis.png);
}

/* checkbox disabled:checked+label */
.dev-content input[type='checkbox']:disabled:checked+label {
    background-image: url(../images/form/ico-checkbox-chk-dis.png);
}

.dev-content input[type='checkbox']:focus+label {
    outline: 1px dashed;
    outline: 1px auto -webkit-focus-ring-color;
}

/*** Input Text ***/
.dev-content .input {
    display:inline-block;
    width:100%;
    height:40px;
    padding:10px 15px;
    border:1px solid #d7d7d7;
    border-radius: 4px;
    box-sizing: border-box;
    background:#fff;
}
.dev-content .input input{
    width:100%;
    border:0;
    font-size: 16px;
    vertical-align: top;
    background:#fff;
}
.dev-content .warning{
    color:#d90511 !important;
}
.dev-content .input.warning{
    display:flex;
    border:1px solid #d90511;
}


/*********
 * public/css/layout.css 에서 필요한 코드를 추출하여 적용
 *********/
 /*** 입력 필드 ***/
 .dev-content .input-field {
    padding-top:10px;
    border-top:2px solid #222;
}
.dev-content .input-field .field-box{
    position:relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.dev-content .input-field .field-box:last-of-type{
    margin-bottom:0;
}
.dev-content .input-field .field-box.req label:after{
    content:"*";
    display:inline-block;
    margin-left:2px;
    color:#d90542;
}
.dev-content .input-field .field-box label {
    font-size:15px;
    line-height:19px;
    font-family: "LGSmHaSB";
}
.dev-content .field-box .row {
    display:table;
    width:100%;
}
.dev-content .field-box .cell {
    display:table-cell;
    vertical-align: middle;
}

/*** Layer Popup ***/
.dev-content #popup-wrap {
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9999;
}
.dev-content #popup-wrap.show{
    display:block;
}
.dev-content #popup-wrap:before {
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:url("../images/bg/LayerpopupBG.png");
}
.dev-content .layer-popup {
    display:none;
    position: fixed;
    top:50%;
    left:50%;
    padding-bottom:87px;
    border-radius: 10px;
    box-sizing: border-box;
    background:#fff;
}
.dev-content .layer-popup.show {
    display: block;
}
.dev-content .layer-header{
    padding: 30px 60px 20px 50px;
}
.dev-content .layer-header h5{
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.12px;
    font-family: "LGSmHaSB";
}
.dev-content .layer-header p{
    margin-top:10px;
    font-size: 15px;
    line-height: 25px;
    font-family: "LGSmHaR";
}
.dev-content .layer-content{
    padding: 0 50px;
}
.dev-content .layer-content .text-alert{
    padding:40px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "LGSmHaR";
}
.dev-content .layer-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px 35px;
}
.dev-content .layer-popup .btn-close{
    position:absolute;
    top:0;
    right:0;
    display:inline-block;
    padding:10px;
    font-size:0;
}
.dev-content .layer-popup .btn-close span{
    display:inline-block;
    width:40px;
    height:40px;
    background:url("../images/icon/btn_action_close_material_nor.png") no-repeat center center;
    background-size:40px;
}

/* Layer Popup - Site Feedback - 긍정 & 부정 */
.dev-content #popup-feedback-positive .field-box .row,
.dev-content #popup-feedback-negative .field-box .row{
    margin-bottom:5px;
}
.dev-content #popup-feedback-positive .field-box .row:last-of-type,
.dev-content #popup-feedback-negative .field-box .row:last-of-type{
    margin-bottom:0;
}

/*** 사이트 피드백 ***/
.dev-content #sub-feedback{
    position:relative;
    padding:20px 0 40px 2px;
}
.dev-content .site-feedback {
    position:relative;
}
.dev-content .site-feedback:after{
    content:"";
    display:table;
    clear:both;
}
.dev-content .site-feedback .text{
    display:inline-block;
    margin-top: 11px;
    margin-right: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #a8a8a8;
    font-family: "LGSmHaB";
}
.dev-content .site-feedback .feedback-l {
    float:left;
}
.dev-content .site-feedback .feedback-r {
    float:right;
}
.dev-content .site-feedback .text,
.dev-content .site-feedback .btn-thumb{
    vertical-align: top;
}