@charset "utf-8";

/*** Base ***/
#wrapper {
    width: 100%;
    min-width: 1440px;
    margin: 0 auto;
}

/*** Header ***/
#banner-wrap {
    position: relative;
    padding-top: 75px;
    background: #faf3f4;
}
.banner {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 250px;
    max-width: 1440px;
}
.banner-text {
    position: absolute;
    top: 58px;
    left: 0;
    width: 70%;
    max-width: 836px;
    z-index: 1;
}
.banner-text h1 {
    font-size: 42px;
    line-height: 52px;
    font-family: "LGSmHaB";
    letter-spacing: -1.68px;
}
.banner-text p {
    margin-top: 22px;
    font-size: 18px;
    line-height: 32px;
    font-family: "LGSmHaR";
    letter-spacing: -0.36px;
}
.banner-img {
    position: absolute;
    top: -27px;
    right: 0;
    width: 273px;
    height: 273px;
    z-index: 0;
}
.banner-img img {
    width: 100%;
}
#wrapper.main .banner {
    height: 505px;
}
#wrapper.main .banner-text {
    top: 87px;
}
#wrapper.main .banner-text h1 {
    font-size: 60px;
    line-height: 86px;
    letter-spacing: -2.4px;
}
#wrapper.main .banner-text p {
    margin-top: 22px;
    font-size: 18px;
    line-height: 33px;
}
#wrapper.main .banner-img {
    top: -43px;
    width: 555px;
    height: 555px;
}

#gnb-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:74px;
    background: #fff;
    z-index: 1000;
}
#gnb-wrap .main-logo {
    position: absolute;
    top:26px;
    left:0;
    width: 184px;
    height: 22px;
}
#gnb-wrap .main-logo a {
    font-size: 0;
}
#gnb-wrap .main-logo img {
    width:100%;
}
.gnb {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 75px;
}
.gnb .gnb-list {
    min-width:1440px;
    padding-left:228px;
    box-sizing: border-box;
}
.gnb-list li {
    display: inline-block;
}
.gnb-list li a {
    position: relative;
    display: inline-block;
    padding: 26px 0 27px;
    margin-right: 45px;
    font-size: 18px;
    line-height: 22px;
    font-family: "LGSmHaR";
}
.gnb-list li:first-of-type a {
    margin-left: 0;
}
.gnb-list li.on a,
.gnb-list li a:hover {
    color: #d90542;
}
.gnb-list li.on a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 52px;
    background: #d90542;
}

/*** Footer ***/
#footer-wrap {
    position: relative;
    margin-top: 120px;
    padding: 53px 0 62px;
    box-sizing: border-box;
    background: #f3f3f6;
}
.footer {
    max-width: 1026px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.footer .copyright {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    font-family: "LGSmHaSB";
}
.footer a,
.footer-list dt {
    vertical-align: middle;
}
.footer .depth1 > dt {
    position: relative;
    margin-bottom: 23px;
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    font-family: "LGSmHaB";
}
.footer .depth1 > dt:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #999;
}
.footer .depth1 > dd {
    overflow: hidden;
}
.footer .depth1 > dd > div {
    float: left;
}
.footer .depth1 > dd > div:first-of-type {
    width: 44%;
}
.footer .depth1 > dd > div:last-of-type {
    width: 56%;
}
.footer .depth1 > dd dl {
    margin-top: 20px;
}
.footer .depth1 > dd > div dl:first-of-type{
    margin-top: 0;
}
.footer .depth2 > dt {
    font-size: 14px;
    line-height: 20px;
    font-family: "LGSmHaB";
}
.footer .depth2 > dd > ul {
    margin-top: 8px;
    padding-left: 13px;
}
.footer .depth2 ul > li {
    font-size: 14px;
    line-height: 22px;
}

.footer ul {
    overflow: hidden;
}
.footer-list > li {
    float: left;
}
.footer-list > li:first-of-type,
.footer-list > li:last-of-type {
    width: 310px;
}
.footer-list > li:nth-of-type(2n) {
    width: 105px;
    margin: 0 100px;
}
.footer-information {
    margin-top: 83px;
}
.footer-terms {
    overflow: hidden;
    margin-top: 28px;
}
.footer-terms dl {
    float: left;
}
.footer-terms dl:first-of-type {
    margin-right: 44px;
}
.footer-terms dl:nth-of-type(2n) {
    margin-right: 74px;
}
.footer-terms dl dt {
    color: #6a6a6a;
    font-size: 12px;
    line-height: 18px;
}
.footer-terms dl dd {
    margin-top: 6px;
}
.footer-terms dl dd a {
    color: #222;
    font-size: 14px;
    line-height: 20px;
    font-family: "LGSmHaSB";
}
#wrapper.main .footer {
    /* min-height: 665px; */
}

/*** Content ***/
#content-wrap {
    position: relative;
}
.main-content {
    position: relative;
}

/*** Section ***/
/* section common */
section {
    position:relative;
    box-sizing: border-box;
}
section .fadeIn {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-inner {
    max-width: 1440px;
    margin: 0 auto;
}
.section-inner header h2 {
    font-size: 40px;
    line-height: 43px;
}
.section-inner header h3 {
    position: relative;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -1.12px;
}
.section-inner header h2.under {
    position: relative;
    padding-bottom: 22px;
}
.section-inner header h2.under:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 2px;
    bottom: 0;
    background: #d90542;
}
.section-inner header p {
    font-size: 18px;
    line-height: 30px;
    font-family: "LGSmHaR";
}

/* section type center */
.section-inner.center {
    text-align: center;
    padding-top: 122px;
}
.section-inner.center header h2 {
    font-family: "LGSmHaSB";
}
.section-inner.center header h2:before{
    left: 50%;
    margin-left: -25px;
}
.section-inner.center header p {
    margin-top: 34px;
}

/* section type between */
.section-inner.between {
    display: flex;
    padding-top: 82px;
}
.section-inner.between header {
    flex: 1;
}
.section-inner.between header h2 {
    padding-bottom: 50px;
    font-family: "LGSmHaB";
}
.section-inner.between header h3{
    padding-top: 26px;
    font-family: "LGSmHaSB";
}
.section-inner.between .grid-box {
    flex-basis: 615px;
}
.section-inner.between .grid-box .grid-list > li {
    opacity: 0;
}

/* section type left */
.section-inner.left header h2 {
    margin-bottom: 50px;
    font-family: "LGSmHaB";
}

/* ThinQ App 플랫폼 개발자 사이트 역할 */
.section-platform {
    position: relative;
}
.section-platform header {
    opacity: 0;
}
.section-platform .section-inner {
    padding-bottom: 98px;
}
.section-platform .section-image {
    display: inline-block;
    margin-bottom: 20px;
    width: 198px;
    height: 146px;
    background: url("../images/icon_4.png") no-repeat center center;
}
.section-platform .grid-box {
    width: 943px;
    margin: 58px auto 0;
}
.section-platform .grid-box .grid-list.type1 > li {
    opacity: 0;
}

/* 도구 업데이트 */
.section-toolupdate {
    background-color: #faf3f4;
    background-image: url("../images/bg/ToolsBG@3x.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
}
.section-toolupdate header {
    opacity: 0;
}
.section-toolupdate header p {
    margin-top: 22px;
}
.section-toolupdate header button {
    margin-top: 36px;
}
.section-toolupdate .section-inner {
    padding-bottom: 309px;
}

/* .section-notice */
.section-notice header {
    opacity: 0;
}
.section-notice .section-inner {
    padding-top: 124px;
}
.section-notice h2 {
    margin-bottom: 100px;
}
.section-notice .notice-box {
    margin-top: 90px;
}
.section-notice .notice-box .notice-list {
    display: flex;
}
.section-notice .notice-box .notice-list li {
    opacity: 0;
    position: relative;
    flex: 1;
    margin-right: 38px;
    padding: 25px;
    box-sizing: border-box;
    height: 373px;
    -webkit-box-shadow:3px 3px 15px 0px #e2e2e2;
    -moz-box-shadow:3px 3px 15px 0px #e2e2e2;
    -o-box-shadow:3px 3px 15px 0px #e2e2e2;
    box-shadow: 3px 3px 15px 0px #e2e2e2;
    text-align: center;
    background: #fff;
}
.section-notice .notice-list li:last-of-type {
    margin: 0;
}
.section-notice .notice-list li dl {
    margin-top: 10px;
}
.section-notice .notice-list li dt {
    font-size: 28px;
    line-height: 34px;
    font-family: "LGSmHaSB";
}
.section-notice .notice-list li dd {
    margin-top: 28px;
    font-size: 15px;
    line-height: 25px;
}
.section-notice .notice-list li:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 126px;
    height: 126px;
    background-size: 100%;
}
.section-notice .notice-list li:first-of-type:before {
    background: url("../images/icon/NoticeIcon_1.png") no-repeat center center;
}
.section-notice .notice-list li:nth-of-type(2n):before {
    background: url("../images/icon/NoticeIcon_2.png") no-repeat center center;
}
.section-notice .notice-list li:last-of-type:before {
    background: url("../images/icon/NoticeIcon_3.png") no-repeat center center;
}
.section-notice .btn-small {
    position: absolute;
    left: 50%;
    bottom: 38px;
    margin-left: -57px;
}

/* grid-box */
.grid-box .grid-list {
    overflow: hidden;
}
.grid-box .grid-list > li {
    float: left;
    box-sizing: border-box;
    background: #fff;
}
.grid-box .grid-list > li dt {
    font-family: "LGSmHaSB";
}
/* grid-box type1 */
.grid-box .grid-list.type1 > li {
    width: 44.54%;
    height: 330px;
    margin: 34px 16px;
    padding: 40px 48px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 9px 18px 0px #ececec;
    -moz-box-shadow: 0px 9px 18px 0px #ececec;
    -o-box-shadow: 0px 9px 18px 0px #ececec;
    box-shadow: 0px 9px 18px 0px #ececec;
}
.grid-box .grid-list.type1 > li:nth-of-type(2n) {
    margin-right: 0;
}
.grid-box .grid-list.type1 > li dt {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.12px;
}
.grid-box .grid-list.type1 > li dt .number {
    display: block;
    color: #d90542;
}
.grid-box .grid-list.type1 > li dd {
    margin-top: 28px;
    font-size: 14px;
    line-height: 18px;
}
.grid-box .grid-list.type1 > li dd > ul > li{
    position: relative;
    margin-bottom: 2px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 25px;
}
.grid-box .grid-list.type1 > li dd > ul > li:before {
    content: "-";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.grid-box .grid-list.type1 > li .note {
    display: inline-block;
    color: #6a6a6a;
    font-size: 13px;
    line-height: 20px;
    font-family: "LGSmHaR";
}
/* grid-box type2 */
.grid-box .grid-list.type2 > li {
    width: 48.783%;
    height: 230px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 26px 20px 0;
    -webkit-box-shadow: 1px 1px 3px 0px #ececec;
    -moz-box-shadow: 1px 1px 3px 0px #ececec;
    -o-box-shadow: 1px 1px 3px 0px #ececec;
    box-shadow: 1px 1px 3px 0px #ececec;
}
.grid-box .grid-list.type2 > li:nth-of-type(2n) {
    margin-right: 0;
}
.grid-box .grid-list.type2 > li dt {
    position: relative;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
}
.grid-box .grid-list.type2 > li dt:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -7.5px;
    background: #d90542;
}
.grid-box .grid-list.type2 > li dd {
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -.6px;
}
/* grid-box type3 */
.grid-box .grid-list.type3{
    display:flex;
    flex-wrap:wrap;
    overflow:unset;
}
.grid-box .grid-list.type3 > li {
    position:relative;
    flex:0 1 48.78%;
    min-height: 200px;
    margin: 8px 8px 22px;
    padding: 20px 26px 58px 20px;
    -webkit-box-shadow: 0px 9px 20px 0px #ececec;
    -moz-box-shadow: 0px 9px 20px 0px #ececec;
    -o-box-shadow: 0px 9px 20px 0px #ececec;
    box-shadow: 0px 9px 20px 0px #ececec;
}
.grid-box .grid-list.type3 > li:nth-of-type(2n) {
    margin-right: 0;
}
.grid-box .grid-list.type3 > li h3{
    display:flex;
    font-size:24px;
    line-height:34px;
    letter-spacing: -0.96px;
    font-family: "LGSmHaSB";
}
.grid-box .grid-list.type3 > li .btn-small{
    position:absolute;
    right:26px;
    bottom:26px;
}
.grid-box .grid-list.type3 > li .number {
    display: block;
    color: #d90542;
    font-size:30px;
    font-family: "LGSmHaSB";
    word-break: keep-all;
}
.grid-box .grid-list.type3 > li .text {
    display:inline-block;
    padding-left:10px;
    word-break: break-word;
}

/*** 입력 필드 ***/
.input-field {
    padding-top:10px;
    border-top:2px solid #222;
}
.input-field .field-box{
    position:relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.input-field .field-box:last-of-type{
    margin-bottom:0;
}
.input-field .field-box.req label:after{
    content:"*";
    display:inline-block;
    margin-left:2px;
    color:#d90542;
}
.input-field .field-box label {
    font-size:15px;
    line-height:19px;
    font-family: "LGSmHaSB";
}
.field-box .row {
    display:table;
    width:100%;
}
.field-box .cell {
    display:table-cell;
    vertical-align: middle;
}

/*** 검색창 ***/
.search-box {
    position:relative;
    display:inline-block;
}
.search-box .input{
    padding-right:40px;
}
.search-box .input input{
    width:200px;
    transition: width 0.15s ease-out;
}
.search-box .input input:focus{
    width:564px;
    animation-name: expandSearchBox;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes expandSearchBox {
    from {
      opacity: 200px;
    }
    to {
      opacity: 564px;
    }
}
.search-box .btn-search{
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
    background:url("../images/icon/btn_search.png");
}

/*** 페이징 ***/
.board-paging{
    position:relative;
    text-align: center;
}
.board-paging .btn{
    position:relative;
    width:35px;
    height:35px;
    border:1px solid #d7d7d7;
    border-radius:4px;
    color:#222;
    background:none;
}
.board-paging .btn i{
    position:absolute;
    top:7px;
}
.board-paging .btn-prev i{
    left:10px;
}
.board-paging .btn-next i{
    left:12px;
}
.board-paging .btn span{
    font-size:0;
}
.paging-list{
    display:inline-block;
    margin:4px 15px 0;
    vertical-align: top;
}
.paging-list li {
    display:inline-block;
    padding:0 10px;
}
.paging-list li span,
.paging-list li a{
    display:inline-block;
    font-size:20px;
    line-height:25px;
    vertical-align: top;
}
.paging-list li a {
    color:#979797;
}
.paging-list li a:hover{
    color:#222;
    border-bottom: 2px solid #525252;
}
.paging-list li .paging-current{
    border-bottom: 2px solid #525252;
}
/*** 사이트 피드백 ***/
.site-feedback {
    position:relative;
}
.site-feedback:after{
    content:"";
    display:table;
    clear:both;
}
.site-feedback .text{
    display:inline-block;
    margin-top: 11px;
    margin-right: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #a8a8a8;
    font-family: "LGSmHaB";
}
.site-feedback .feedback-l {
    float:left;
}
.site-feedback .feedback-r {
    float:right;
}
.site-feedback .text,
.site-feedback .btn-thumb{
    vertical-align: top;
}

/*** Layer Popup ***/
#popup-wrap {
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9999;
}
#popup-wrap.show{
    display:block;
}
#popup-wrap:before {
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:url("../images/bg/LayerpopupBG.png");
}
.layer-popup {
    display:none;
    position: fixed;
    top:50%;
    left:50%;
    padding-bottom:87px;
    border-radius: 10px;
    box-sizing: border-box;
    background:#fff;
}
.layer-popup.show {
    display: block;
}
.layer-header{
    padding: 30px 60px 20px 50px;
}
.layer-header h5{
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.12px;
    font-family: "LGSmHaSB";
}
.layer-header p{
    margin-top:10px;
    font-size: 15px;
    line-height: 25px;
    font-family: "LGSmHaR";
}
.layer-content{
    padding: 0 50px;
}
.layer-content .text-alert{
    padding:40px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "LGSmHaR";
}
.layer-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px 35px;
}
.layer-popup .btn-close{
    position:absolute;
    top:0;
    right:0;
    display:inline-block;
    padding:10px;
    font-size:0;
}
.layer-popup .btn-close span{
    display:inline-block;
    width:40px;
    height:40px;
    background:url("../images/icon/btn_action_close_material_nor.png") no-repeat center center;
    background-size:40px;
}

/* Layer Popup - popup-sdk */
#popup-sdk .input-field .field-box .row .cell:first-of-type{
    width: 20%;
}
#popup-sdk .input-field .field-box .row .cell:last-of-type{
    width: 80%;
}

/* Layer Popup - Site Feedback - 긍정 & 부정 */
#popup-feedback-positive .field-box .row,
#popup-feedback-negative .field-box .row{
    margin-bottom:5px;
}
#popup-feedback-positive .field-box .row:last-of-type,
#popup-feedback-negative .field-box .row:last-of-type{
    margin-bottom:0;
}


/*** Admin - Login ***/
#admin_login_form .field-box .cell:first-of-type{
    width:20%;
}
#admin_login_form .field-box .cell:last-of-type{
    width:80%;
}
