@charset "utf-8";

/*** Mediaquery ***/
@media screen and (max-width:1440px) {
    /* layout.css */
    .section-toolupdate,
    .section-notice {
        padding-left:50px;
        padding-right:50px;
    }
    .section-inner.between header {
        padding-right:3%;
    }
}
@media screen and (max-width:1460px) {
    #gnb-wrap {
        padding:0 50px;
        transition:padding 0.4s ease;
    }
    #gnb-wrap .main-logo {
        width:170px;
        top:27px;
    }
    .gnb-list li a {
        margin-right: 24px;
        font-size: 16px;
    }
    .banner{
        margin:0 50px;
    }
    .banner-text h1 {
        font-size:36px;
        line-height:46px;
    }
    .banner-text p{
        font-size:16px;
        line-height:26px;
    }
}
@media screen and (max-width:1510px) {
    #content-wrap {
        max-width: 100%;
    }
    #sub-navigator {
        padding-left:50px;
    }
    #sub-navigator .sub-content {
        max-width: calc(100% - 260px);
        padding-right:0;
    }
    #sub-navigator .sub-aside{
        display:none;
    }
    #sub-navigator .btn-nav-toggle {
        left: 310px;
        margin-left: 0;
    }
    #sub-feedback .site-feedback {
        margin-right:0;
    }
}