@charset "utf-8";

#sub-navigator,
#sub-feedback {
    position:relative;
}
#sub-navigator {
    display:flex;
    padding:50px 50px 0;
    margin:0 auto;
}
#sub-feedback {
    padding:20px 50px 90px;
}

#sub-navigator .sub-content {
    position: relative;
    display:flex;
    flex:1;
    flex-direction:column;
    margin-top:40px;
    max-width: calc(100% - 260px - 230px); /* 100% - (nav-list width) - (sub-aside width) */
    padding-left:50px;
    padding-right:50px;
    box-sizing: border-box;
}

#sub-feedback .sub-content {
    position: relative;
    display:flex;
    flex-direction:column;
}

.sub-header{
    position: relative;
}

.sub-header.type1{
    margin-bottom:100px;
}
.sub-header.type1 h2 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.92px;
    font-family: "LGSmHaSB";
}

.sub-header.type2{
    margin-bottom:45px;
}
.sub-header.type2 h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.6px;
    font-family: "LGSmHaSB";
}

.sub-header .location-list {
    overflow: hidden;
    margin-top:22px;
}
.sub-header .location-list li {
    float: left;
    font-size: 24px;
    line-height: 26px;
}
.sub-header .location-list li:after {
    content: ">";
    display: inline-block;
    margin: 0 10px;
    color: #222;
}
.sub-header .location-list li a {
    color: #d90542;
    font-size: 24px;
    line-height: 26px;
}
.sub-header .location-list li.current {
    color: #979797;
}
.sub-header .location-list li.current:after {
    display: none;
}

.sub-section{
    margin-bottom:120px;
    box-sizing: border-box;
}
.sub-section .sub-title{
    position:relative;
    padding-left:16px;
    font-size: 40px;
    line-height: 43px;
    letter-spacing:-1.6px;
    font-family: "LGSmHaR";
}
.sub-section .sub-title:before {
    content: "";
    display: inline-block;
    position:absolute;
    top:0;left:0;
    width:3px;
    height:40px;
    background:#e24371;
}
.sub-section article{
    position:relative;
    margin-top:38px;
    padding-left:20px;
}
.sub-section article.depth1 {
    margin-top:21px;
}
.sub-section article.depth2 p,
.sub-section article.depth2 > .board-box,
.sub-section article.depth2 .syntaxhighlighter,
.sub-section article.depth2 > .dot-list,
.sub-section article.depth2 > .number-list{
    margin-left:26px !important;
}
.sub-section article.depth2 > figure.img-box{
    padding-left:26px !important;
    box-sizing: border-box;
}
.sub-section article.depth2 .syntaxhighlighter {
    width:calc(100% - 26px) !important;
}
.sub-section article figure.img-box + p,
.sub-section article div + p,
.sub-section article.depth2 .board-box + p,
.sub-section article.depth2 .syntaxhighlighter + p{
    margin-top:30px;
}
.sub-section article h4 {
    font-size:20px;
    line-height:30px;
    font-family: "LGSmHaR";
}
.sub-section article p,
.sub-section article .dot-list li,
.sub-section article .number-list li {
    position:relative;
    margin-top:10px;
    font-size:18px;
    line-height:28px;
    letter-spacing: -0.5px;
    font-family: "LGSmHaL";
}
.sub-section article .dot-list li {
    padding-left:15px;
}
.sub-section article .number-list li {
    padding-left:22px;
}
.sub-section article .dot-list li:before,
.sub-section article .number-list li .number {
    display:inline-block;
    position:absolute;
    left:0;
}
.sub-section article .dot-list li:before {
    content:"";
    top:11px;
    width:4px;
    height:4px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    border-radius: 2px;
    background:#222;
}
.sub-section article .number-list li .number{
    top:0;
}
.sub-section article .number-list li .syntaxhighlighter {
    margin-left:0 !important;
}
.sub-section article .img-box {
    display:flex;
}
.sub-section article > figure.img-box {
    margin-top:10px;
}
.sub-section article figure.img-box.column{
    flex-direction: column;
}
.sub-section article figure.img-box.column .img + .img {
    margin-left:0;
}
.sub-section article figure.img-box .img {
    flex: 1;
}
.sub-section article figure.img-box .img + .img {
    margin-left:26px;
}
.sub-section article figure.img-box .img img{
    width:100%;
}

.sub-section article .syntaxhighlighter{
    max-height: 377px;
}
.sub-section article pre[no-line] .syntaxhighlighter .gutter .line{
    font-size: 0!important;
}
article .board-box{
    margin-top:14px;
}
.board-box {
    position: relative;
}
.board-box.info {
    padding:46px 22px 20px;
    background:#fdf5f6;
}
.board-box.info:before,
.board-box.info:after {
    content:"";
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
}
.board-box.info:before {
    top:16px;
    left:22px;
    width:17px;
    height:17px;
    background:url("/images/icon/icon_borad_info.png") no-repeat center center;
    background-size:100%;
}
.board-box.info:after {
    width:5px;
    height: 100%;
    -webkit-border-radius:2.5px;
    -moz-border-radius:2.5px;
    -o-border-radius:2.5px;
    border-radius: 2.5px;
    background:#d90511;
}
.board-box.info .text.type1{
    color:#222;
    line-height:30px;
}
.board-box.dashed {
    padding: 18px 40px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    border-style:dashed;
}
.board-box .text{
    color:#000;
}
.board-box .text.type1{
    font-size:20px;
    line-height:46px;
    letter-spacing: -0.8px;
    font-family: "LGSmHaL";
}
.board-box .text.type2{
    font-size:16px;
    line-height:32px;
    letter-spacing: -0.8px;
    font-family: "FiraCodeM";
}
.board-box.dashed.dark {
    background:#262626;
}
.board-box.dashed.dark .text{
    color:#e5e5e5;
}

/* Board Simple Type */
.board-simple .title {
    position:relative;
    border-top:1px solid #d7d7d7;
    text-align:center;
    font-weight:bold;
    background:#f7f7f7;
}
.board-simple .content li {
    text-align:left;
}
.board-simple .title,
.board-simple .content li{
    padding:10px;
    word-break: break-word;
    font-size:14px;
    line-height:18px;
    border-bottom:1px solid #d7d7d7;
}
.board-simple .scroll-content{
    max-height:398px;
    overflow-y:scroll;
}
.board-simple .board-bottom{
    margin-top:14px;
}
.board-simple .board-paging{
    font-size:0;
}
.board-simple .paging-list li span,
.board-simple .paging-list li a{
    font-size:14px;
    line-height:18px;
}
.board-simple .board-paging .btn i{
    top:5px;
    font-size:14px;
    line-height:18px;
}
.board-simple .board-paging .btn{
    width:30px;
    height:30px;
}
.board-simple .board-paging .btn-next i{
    left:11px;
}
.board-simple .board-paging .btn-prev i{
    left:9px;
}

/*** Nav ***/
#sub-navigator nav {
    display: flex;
    position:sticky;
    top:75px;
    max-height: calc(100vh - 75px); /* 100vh - (header height) */
    width:260px;
    flex-shrink: 0;
}
#sub-navigator nav.scroll-content::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
#sub-navigator nav.scroll-content::-webkit-scrollbar-thumb{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius: 5px;
    background: #d7d7d7;
}
#sub-navigator .btn-nav-toggle {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 40px;
    margin-left:-460px;
    border-radius: 0 20px 20px 0;
    z-index:2;
}
nav .nav-list {
    flex:1;
    padding-right:20px;
}
nav .nav-list li > a,
nav .nav-list li .nav-drop .btn-nav-drop{
    padding:15px 38px 15px 0;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    font-family: "LGSmHaR";
    word-break: keep-all;
}
nav .nav-list .on,
nav .nav-list .on button,
nav .nav-list li a:hover{
    position:relative;
    color:#d90542;
}
nav .nav-list li .nav-drop .nav-drop-box{
    overflow: hidden;
}
nav .nav-list li .nav-drop .btn-nav-drop{
    position:relative;
    display:inline-block;
    width:100%;
    text-align: left;
}
nav .nav-list li .nav-drop .btn-nav-drop:before{
    content:"";
    display:inline-block;
    position:absolute;
    top:50%;
    right:0;
    width:26px;
    height:26px;
    margin-top:-13px;
    background:url("/images/icon/btn_nav_drop.png") no-repeat center center;
}
nav .nav-list li .nav-drop .btn-nav-drop.show:before{
    transform: rotate(180deg);
}
nav .nav-list li .nav-drop .nav-drop-box{
    padding-left:20px;
}
nav .nav-list li .nav-drop .nav-drop-box ul li:last-of-type{
    margin-bottom:5px;
}
nav .nav-list li .nav-drop .nav-drop-box a{
    padding:10px 0;
    font-size:17px;
    line-height:22px;
    letter-spacing: -0.72px;
    font-family: "LGSmHaL";
    word-break: keep-all;
}

/*** Aside ***/
#sub-navigator .sub-aside {
    display:flex;
    position: sticky;
    top: 100px;
    flex-direction: column;
    flex-shrink: 0;
    width:230px;
    max-height: calc(100vh - 75px - 47px); /* 100vh - (header height) - (.aside-list margin-top + .sub-aside h5 height) */
    word-break: keep-all;
}
#sub-navigator .sub-aside h5 {
    font-size:20px;
    line-height:22px;
    letter-spacing: 3.2px;
    font-family: "LGSmHaSB";
}
#sub-navigator .sub-aside .aside-list{
    margin-top:25px;
    padding-right:10px;
}
#sub-navigator .sub-aside .aside-list.scroll-content::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
#sub-navigator .sub-aside .aside-list.scroll-content::-webkit-scrollbar-thumb{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius: 3px;
    background: #d7d7d7;
}
#sub-navigator .sub-aside .aside-list li a{
    display:inline-block;
    padding:8px 0 9px;
    font-size:16px;
    line-height:22px;
    letter-spacing:-0.64px;
    font-family: "LGSmHaL";
}
#sub-navigator .sub-aside .aside-list li a:hover,
#sub-navigator .sub-aside .aside-list li a.on{
    color:#d90542;
}
#sub-navigator .sub-aside .aside-list .depth2{
    padding-left:35px;
}
#sub-navigator .sub-aside .aside-list .depth2 a{
    padding:0;
}
#sub-navigator .sub-aside .aside-list .depth2 li{
    margin-bottom:10px;
}

/*** API Library ***/
#sub-subject {
    position:relative;
    width:984px;
    min-height:780px;
    margin:0 auto;
    padding-top:124px;
}
#sub-subject .sub-content{
    position: relative;
}

/*** QnA ***/
#sub-qna {
    position:relative;
    width:984px;
    min-height:780px;
    margin:0 auto;
    padding-top:124px;
}

/*** Board - list, view, write ***/
/* Board - common */
.board-content{
    position:relative;
}
.board-content .board-btn-area{
    overflow: hidden;
    font-size:0;
    margin-top:10px;
}
.board-content .board-btn-area .btn-medium{
    margin:0;
    vertical-align: top;
}
.board-content .board-btn-area .btn.new{
    float:right;
}
.board-content .board-editer{
    margin-top:20px;
}
/* Board - list */
.board-content.list {
}
/* Board - view */
.board-content.view .board-top .border-info-area{
    padding-right:100px;
}
.board-content.view .board-top .border-info-area .area-detail{
    position:absolute;
    top:-9px;
    right:0;
}
.board-content.view .board-top .user-info{
    margin-top:20px;
    padding:20px 30px 0;
    border-top:1px solid #d7d7d7;
}
.board-content.view .user-profile .image{
    width:40px;
    height:40px;
    border-radius: 20px;
}
.board-content.view .user-profile .email{
    margin-top:10px;
    margin-left:15px;
    color:#525252;
    font-family: "LGSmHaSB" !important;
}
.board-content.view .user-created{
    margin-top:10px;
    padding:0;
}
.board-content.view .user-created:before{
    display:none;
}
.board-content.view .user-created em{
    color:#979797;
}
.board-content.view .board-compiled{
    margin-top:30px;
    padding:0 30px;
    border-bottom:1px solid #d7d7d7;
    word-break: break-word;
    font-size: 18px;
    line-height: 30px;
    font-family: "LGSmHaL";
}
.board-content.view .board-compiled .board-compiled-attach{
    margin-bottom:40px;
    border-top:1px solid #d7d7d7;
}
.board-content.view .board-bottom .drop-box .drop-list li .btn-delete{
    display:inline-block;
}
/* Board - write */
.board-content.write {
    position:relative;
}
.board-content.write table .sub-text{
    margin-top:6px;
    color:#979797;
}
.board-content.write .drop-box .drop-list li .btn-delete{
    display:inline-block;
}
/* Board - common -top */
.board-top{
    position:relative;
    padding-bottom:20px;
}
.board-top .select-box,
.board-top .search-box,
.board-top .btn-medium{
    vertical-align: bottom;
}
.board-top .btn-medium{
    position:absolute;
    bottom:20px;
    right:0;
}
/* Board - common - list */
.board-list{
    position:relative;
}
.board-list .list-box{
    position:relative;
    padding:30px 0;
    border-bottom:1px solid #d7d7d7;
}
.board-list .list-box:first-of-type{
    border-top:1px solid #d7d7d7;
}
.border-info-area .area-top .board-category{
    display:inline-block;
    margin-top:4px;
    padding: 0 10px;
    color: #fff;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-family: "LGSmHaL";
    background: #d90542;
}
.border-info-area .area-top .board-title{
    display:inline;
    font-size: 22px;
    line-height: 32px;
    font-family: "LGSmHaR";
}
.border-info-area .area-bottom {
    margin-top:15px;
}
.border-info-area .area-bottom .board-text{
    font-size: 16px;
    line-height: 26px;
    font-family: "LGSmHaR";
}
.board-list .list-box .user-info {
    margin-top:12px;
}
.user-info span{
    display:inline-block;
    vertical-align: top;
}
.user-info .user-profile{
    position:relative;
}
.user-info .user-profile .image{
    position:relative;
    overflow:hidden;
    border-radius:15px;
    width:30px;
    height:30px;
}
.user-info .user-profile .image img{
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
}
.user-info .user-profile .email{
    display: inline-block;
    margin-left:4px;
    font-size:14px;
    line-height:22px;
}
.user-info .user-profile,
.user-info .user-created{
    position:relative;
    font-size:14px;
    line-height:22px;
    color:#979797;
}
.user-info .user-profile .name,
.user-info .user-created{
    margin-top:3px;
    margin-left:10px;
}
.user-info .user-created{
    padding-left:11px;
}
.user-info .user-created:before{
    content:"";
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #979797;
}
.user-info .user-info em{
    display:inline-block;
    margin-left:2px;
    color:#979797;
}
.user-info .user-created .time{
    margin-left:5px;
}
/* Board - common - bottom */
.board-bottom{
    position:relative;
    margin-top:20px;
}
.board-bottom .board-attach-area{
    position: relative;
}
.board-bottom .btn-group{
    margin-top:10px;
}
/* Board - common - notice */
.board-notice-area{
    margin-top:12px;
}
.board-notice-area p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -.6px;
}
/* Board - common - comment */
.board-comment{
    margin-top:40px;
}
.board-comment h3 {
    padding-bottom:10px;
    border-bottom:1px solid #d7d7d7;
    font-size:22px;
    line-height:30px;
}
.board-comment h3 .count{
    display:inline-block;
    margin-left:5px;
    vertical-align: top;
    color:#d90542;
}
.board-comment .comment-list > li{
    position:relative;
    padding:25px 30px 40px;
    border-bottom:1px solid #d7d7d7;
}
.board-comment .comment-list .user-comment{
    margin-top:20px;
    font-size:15px;
    line-height: 25px;
}
.board-comment .comment-list .btn-comment-modify{
    display:none;
    position:absolute;
    top: 14px;
    right: 30px;
}
.board-comment .comment-list > li.me .btn-comment-modify{
    display:block;
}
.board-comment .comment-list > li.me .drop-box .drop-list li .btn-delete{
    display:inline-block;
}
.board-comment .comment-empty{
    padding:70px 0;
    border-bottom:1px solid #d7d7d7;
    text-align: center;
}
.board-comment .comment-empty p{
    font-size: 15px;
    line-height: 25px;
}
.board-comment .comment-empty i{
    margin-bottom:15px;
    color:#9f9f9f;
    font-size:30px;
    line-height:30px;
}


/*** Admin - Sub ***/
#wrapper.wrapper-admin {
    min-width: 1500px;
}
#wrapper.wrapper-admin .login-box {
    max-width: 1026px;
    margin: 80px auto;
    min-height: 260px;
}
#wrapper.wrapper-admin .login-box .inner{
    padding:0 30px;
}
#wrapper.wrapper-admin .btn-group{
    margin-top:20px;
}
.wrapper-admin #sub-navigator {
    overflow:hidden;
    padding:50px;
}
.wrapper-admin #sub-navigator .sub-content{
    max-width: 100%;
}
.wrapper-admin .sub-section article h4 {
    margin-bottom:15px;
}
/* Admin - Feedback List - Chart */
#chart-content {
    margin: 70px 0;
}
#chart-content.hide {
    height:0;
    margin:0;
    visibility: hidden;
}
.chart-box{
    position:relative;
    overflow:hidden;
}
.chart-box.top .inner{
    width:100%;
    box-sizing: border-box;
}
.chart-box.bottom {
    margin-top:50px;
}
.chart-box.bottom .inner{
    float:left;
    width:50%;
}
.chart-box.bottom .draw-area{
    position:relative;
    padding:0 210px 0 50px;
    height:380px;
    box-sizing: border-box;
}
.chart-box.bottom .draw-area canvas {
    position:absolute;
    top:50%;
    left:50px;
    transform:translateY(-50%);
}
.chart-custom-legend > span{
    position:relative;
    display:block;
    padding:4px 0 4px 25px;
    font-size:14px;
    line-height:22px;
    cursor:text;
}
.chart-custom-legend > span:last-of-type{
    cursor:pointer;
}
.chart-custom-legend > span > span {
    position:absolute;
    display:inline-block;
    width:18px;
    height:18px;
    top:6px;
    left:0;
}
.chart-box.bottom .chart-custom-legend{
    position:absolute;
    top:50%;
    left:395px;
    transform:translateY(-50%);
}
/* Admin - Feedback List - Popup */
#popup-etc-positive .layer-content,
#popup-etc-negative .layer-content{
    padding-top:60px;
}


/*** iframe이 존재하는 화면 공통 layout 구조 ***/
html.has-iframe{
    overflow-y:hidden;
}
html.has-iframe #gnb-wrap{
    border-bottom: 1px solid #e9ebee;
}
html.has-iframe .iframe-wrap iframe{
    display: block;
    width: 100%;
    height: calc(100vh - (74px + 50px)); /* header height + footer button */
}
.footer-toggle{
    margin-top:0;
    position:fixed;
    bottom:-181px;
    left:0;
    right:0;
}
.footer-toggle.on{
    bottom:0;
}
.footer-toggle #footer-wrap{
    margin-top:0;
    padding:0 0 42px;
}
.footer-toggle .btn-toggle{
    display: inline-block;
    position: absolute;
    height: 50px;
    top: -50px;
    left:0;
    right: 0;
    border-top:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
    border-right:1px solid #d7d7d7;
    background: #f3f3f6;
}
.footer-toggle .btn-toggle i {
    display:inline-block;
    font-size:20px;
}
.footer-toggle.off .btn-toggle:hover i{
    animation-name: iconToggle;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.footer-toggle.on .btn-toggle i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
@keyframes iconToggle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer-toggle #sub-feedback{
    padding:38px 30px 45px !important;
    background:#fff;
}
.footer-toggle #sub-feedback .sub-content{
    max-width: 1440px;
}